      <!-- footer section -->
      <div class="footer-overlay blog-footer">
         <div class="blog-footer-overlay">
            <div class="container">
               <div class="col-md-12">
                  <div class="row">
                     <div class="themeix-footer-bottom">
                        <div class="inner-section">
							             <a class="logo image-logo" href="https://www.les-sherpas.co"><img src="../assets/images/sherpas-white.png" alt="Les Sherpas"></a>
                           <ul class="footer-menu">
                              <li><a href="https://www.les-sherpas.co/">© Les Sherpas</a></li>
                              <li><a href="https://www.les-sherpas.co/">Notre site web</a></li>
                              <li><a href="https://www.les-sherpas.co/manifeste">Nos valeurs</a></li>
                           </ul>
                           <ul class="footer-menu-social">
                              <li><a href="https://www.facebook.com/lessherpas/"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="https://twitter.com/_LesSherpas?lang=fr"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="https://www.linkedin.com/company/11040086/"><i class="fa fa-linkedin"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact us -->
      <!-- scrollUP button -->
      <a id="scrollUp" href="#"></a>
      <!-- end scrollUP button -->