 <!-- Start Slider Area -->
<div class="slider-area page-title-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-wrapper-2">
                {{#tag}}
                <div id="particles-js" style="background-image: url({{img_url feature_image}})">

                    <div class="slider-fixed-text">
                        <h1 style="font-size: 45px; padding-top: 60px !important;">{{name}}</h1>
                    </div>
                </div>
                {{/tag}}
            </div>
        </div>
    </div>
</div>
<!--End Slider Area -->

                 

